<template>
  <p>{{stringValue}}</p>
</template>

<script>
  export default {
    props: ['stringValue']
  }
</script>

<style lang="scss" scoped>
  p {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
</style>