<template>
  <p>{{stringValue}}</p>
</template>

<script>
  export default {
    props: ['stringValue']
  }
</script>

<style lang="scss" scoped>
  p {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
  }
</style>