<template>
  <section class="control-panel">
    <ParagraphHeader stringValue="2D-аффинные преобразования"/>
  </section>
</template>

<script>
  import ParagraphHeader from './texts/ParagraphHeader.vue'
  export default {
    components: {
      ParagraphHeader
    }
  }
</script>

<style lang="scss" scoped>
  .control-panel {
    background-color: #f2f2f2;
    height: 100vh;
    max-width: 300px;
  }
</style>