<template>
  <div class="container">
    <ControlPanel/>
    <Canvas/>
  </div>
</template>
<script>
import Canvas from './Canvas.vue'
import ControlPanel from './ControlPanel.vue'
export default {
  components: {
    Canvas,
    ControlPanel
  }
}
</script>

<style lang="scss" scoped>
  .container {
    display: flex;
  }
</style>