<template>
  <div id="app">
    <PageIndex/>
  </div>
</template>

<script>
import PageIndex from './components/PageIndex.vue'
export default {
  name: 'app',
  components: {
    PageIndex
  }
}
</script>
